main{
    margin-top: 75px;
}

.link-btn{
    border: 1px solid skyblue;
    background-color: #202020;
    border-radius: 4px;
    padding: 8px 10px 8px 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: skyblue;
    transition: 0.5s;
}

.link-btn:hover{
    color: gold;
    border-color: gold;
    text-decoration: none;
}

#projects img{
    border: 1px solid black;
    border-radius: 12px;
}

::selection{
    background-color: black;
    color: white;
}