@import url('https://fonts.googleapis.com/css?family=Electrolize');

body{
    font-family: electrolize;
    /*color: white;
    background-image: url("img/wall_art.jpg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    margin-top: 75px;
}

footer{
    margin-top: 10%;
}

.carousel{
    color: red;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.carousel img{
    border-radius: 4px;
    border: 1px solid black;
}

.follow-me-btn{
    border: 1px solid red;
    border-radius: 4px;
    background-color: black;
    color: red;
    margin: 0px 6px 0px 6px;
    min-width: 100px;
    transition: 0.5s;
}

.follow-me-btn:hover{
    border-color: black;
    color: black;
    background-color: red;
}

::selection{
    background-color: black;
    color: white;
}